/*---------------------------------
  全体のプロパティ
---------------------------------*/
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body{
    margin: 0;
    padding: 0;
    background-color: #dbd7d1;
    font-family: "Open Sans", 'Noto Sans JP', sans-serif;
}

/*---------------------------------
  PC版、SP版の振り分け
---------------------------------*/
main{
    display:block;
}@media (max-width: 767px){
    .is-PC{
        display:none;
    }
    .is-SP{
        display:block;
    }
}@media (min-width: 768px) and (max-width: 1024px){
    .is-PC{
        display:block;
    }
    .is-SP{
        display:none;
    }
}@media (min-width: 1025px){
    .is-PC{
        display:block;
    }
    .is-SP{
        display:none;
    }
}

/*---------------------------------
  ヘッダー本体
---------------------------------*/
.l-header__body{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    width:100%;
    justify-content: center;
    align-items: center;
}

.l-header__inner{
    left:auto;
    z-index:1000;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    width:100%;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    background-color: black;
    padding:15px 5px;
}@media (max-width: 767px){
    .l-header__inner{
        -webkit-box-pack:justify;
        -webkit-justify-content:space-between;
        -ms-flex-pack:justify;
        justify-content:space-between;    
        -webkit-box-align:center;
        -webkit-align-items:center;
        -ms-flex-align:center;
        align-items:center;
    }
}@media (min-width: 768px) and (max-width: 1024px){
    .l-header__inner{
        -webkit-box-pack:justify;
        -webkit-justify-content:space-between;
        -ms-flex-pack:justify;
        justify-content:space-between;    
        -webkit-box-align:center;
        -webkit-align-items:center;
        -ms-flex-align:center;
        align-items:center;
    }
}@media (min-width: 1025px){
    .l-header__inner{
        -webkit-box-pack:justify;
        -webkit-justify-content:center;
        -ms-flex-pack:justify;
        justify-content:center;
        -webkit-box-align:center;
        -webkit-align-items:center;
        -ms-flex-align:center;
        align-items:center;
    }
}

/*---------------------------------
  ヘッダーロゴ
---------------------------------*/
.l-header__logo{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    align-items:center;
    color:#ffffff;
    text-decoration: none;
}@media (max-width: 767px){
    .l-header__logo{
        width:29.987vw;
        font-size:4.694vw;
    }
}@media (min-width: 768px) and (max-width: 1024px){
    .l-header__logo{
        width:22.461vw;
        font-size:3.516vw;
    }
}@media (min-width: 1025px){
    .l-header__logo{
        width:230px;
        font-size:36px;
    }
}

.l-header__logo{
    padding: 10px 40px;
    background: none;
    border: none;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    cursor: pointer;
}

.l-header__logo:after, .l-header__logo:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 2px solid #ffffff;
    transition: transform .2s;    
}

.l-header__logo:after{
    transform: translate(3px, 3px);
}

.l-header__logo:before{
    transform: translate(-3px, -3px);
}

.l-header__logo:hover:after, .l-header__logo:hover:before{
    transform: translate(0);
}

/*---------------------------------
  フッター
---------------------------------*/
.l-footer__body{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    width:100%;
    background-color:#b1aca0;
    -webkit-box-pack:justify;
    -webkit-justify-content:center;
    -ms-flex-pack:justify;
    justify-content:center;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

.l-footer__inner{
    position:relative;
    width:100%;
}@media (max-width: 767px){
    .l-footer__inner{
        margin: auto;
        text-align: center;
    }
}@media (min-width: 768px) and (max-width: 1024px){
    .l-footer__inner{
        display:-webkit-box;
        display:-webkit-flex;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack:center;
        -webkit-justify-content:center;
        -ms-flex-pack:center;
        justify-content:center;
        -webkit-box-align:center;
        -webkit-align-items:center;
        -ms-flex-align:center;
        align-items:center;
        -webkit-flex-wrap:wrap;
        -ms-flex-wrap:wrap;
        flex-wrap:wrap;
        padding:1.953vw 0;
    }
}@media (min-width: 1025px){
    .l-footer__inner{
        display:-webkit-box;
        display:-webkit-flex;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack:center;
        -webkit-justify-content:center;
        -ms-flex-pack:center;
        justify-content:center;
        -webkit-box-align:center;
        -webkit-align-items:center;
        -ms-flex-align:center;
        align-items:center;
        -webkit-flex-wrap:wrap;
        -ms-flex-wrap:wrap;
        flex-wrap:wrap;
        padding:20px 0;
    }
}

.l-footer__cp{
    color:#1d1c1c;
}@media (max-width: 767px){
    .l-footer__cp{
        font-size:1.565vw;
        letter-spacing:.05em;
    }
}@media (min-width: 768px) and (max-width: 1024px){
    .l-footer__cp{
        font-size:1.172vw;
    }
}@media (min-width: 1025px){
    .l-footer__cp{
        font-size:12px;
    }
}

/*---------------------------------
  本体
---------------------------------*/
.l-main__body{
    padding: 10px 20px;
    height: 100%;
}

.l-main__profile p{
    font-size:24px;
    padding: 10px 50px;
}

.l-main__skill{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-around;
    -ms-flex-pack:justify;
    justify-content:space-around;    
    -webkit-box-align:left;
    -webkit-align-items:left;
    -ms-flex-align:left;
    align-items:left;
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    width:100%;
}

.l-skill__box{
    position: relative;
    padding: 1em 1.5em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    margin: 1em 0.8em;
}@media (max-width: 767px){
    .l-skill__box{
        font-size: 2.347vw;
        width:19.557vw;
    }
}@media (min-width: 768px) and (max-width: 1024px){
    .l-skill__box{
        font-size: 1.758vw;
        width:14.648vw;
    }
}@media (min-width: 1025px){
    .l-skill__box{
        font-size: 18px;
        width:150px;
    }
}

.l-skill__box::after,
.l-skill__box::before{
    content: '';
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 2px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
}

.l-skill__box::after{
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #333333;
    border-right-color: #333333;  
}

.l-skill__box::before{
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: #333333;
    border-left-color: #333333;  
}

.l-skill__box:hover:after,
.l-skill__box:hover:before{
    width: 100%;
    height: 100%;  
}

.l-main__spreadsheets iframe{
    width: 100%;
    height: 400px;
}

.l-input_data ul{
    list-style: none;
    padding:0px;
}